.DS_Store
dogImages/
dogImages.zip
lfw/
lfw.zip
saved_models/weights.best.from_scratch.hdf5
saved_models/weights.best.vgg16.hdf5
.ipynb_checkpoints/
bottleneck_features/DogVGG16Data.npz
DogVGG16Data.npz
